# Data Preprocessing

In [1]:
#improting basic libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# importing the datset and creating X and y axes
dataset=pd.read_csv('TestData.csv')
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,3].values

In [3]:
dataset.head()

  Country   Age   Salary Purchased
0  France  44.0  72000.0        No
1   Italy  27.0  48000.0       Yes
2  Norway  30.0  54000.0        No
3   Italy  38.0  61000.0        No
4  Norway  40.0      NaN       Yes

In [4]:
X

array([['France', 44.0, 72000.0],
       ['Italy', 27.0, 48000.0],
       ['Norway', 30.0, 54000.0],
       ['Italy', 38.0, 61000.0],
       ['Norway', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Italy', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Norway', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [6]:
dataset.isnull().values.any()

True

In [7]:
dataset['Salary'].isnull().values.sum()

1

In [8]:
dataset['Age'].isnull().values.sum()

1

In [9]:
# Taking care of missing data with imputer
from sklearn.impute import SimpleImputer 
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [10]:
#Result after applying simple imputer
X

array([['France', 44.0, 72000.0],
       ['Italy', 27.0, 48000.0],
       ['Norway', 30.0, 54000.0],
       ['Italy', 38.0, 61000.0],
       ['Norway', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Italy', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Norway', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [12]:
X_train

array([['France', 37.0, 67000.0],
       ['Italy', 27.0, 48000.0],
       ['Italy', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Italy', 38.0, 61000.0],
       ['France', 44.0, 72000.0],
       ['France', 35.0, 58000.0]], dtype=object)

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

In [ ]:
X_train

In [ ]:
X_test